.home{
    background-color: var(--gris-claro);
    display:  flex ;
    flex-flow :  column wrap;
}

/* Header */

.home header{
    background-color: var(--amarillo);
}
.home header p{
    text-align: center;
    font-size: 12px;
}
.home .logo-buscar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 120px;
}
.home .logo-buscar p{
    display: inline;
}
.home .logo-buscar .buscar{
    width: 82%;
    display: inline;
    padding: 5px;
    border-radius:5px 0 0 5px;
    border: 1px solid #FFF;
}
.home .logo-buscar .fa-search{
    display: inline;
}
.home .logo-buscar .search{
    padding: 5px;
    border-radius:0 5px 5px 0;
    border: 1px solid #FFF;
    background-color: #FFF;
    color: var(--gris-oscuro);
}
.home .logo-buscar a,form{
    width: 45%;
}
/* nav-bar */

.home .nav-bar ul{
    display: none;
}
.home .nav-bar a{
    color: black;
    font-size: 12px;
}
.home .burger-menu{
    display: inline-block;
    background: var(--celeste);
    font-size: 20px;
    padding: 8px 10px;
    border: 1px solid var(--celeste);
    color: white;
    border-radius: 5px;
    margin: 20px 45%
}
/* banner */

.home .banner{
    width: 100%;
    display: block;
}
/* main */
.home main{
    width: 90%;
    margin:15px;
}
.home main .img{
    width: 100%;
}
.home main h2{
    text-align: left;
    font-size: 24px;
    color: var(--gris-oscuro)
}
.home main .descuentos, .descripciones{
    font-size: 16px;
}
.home main .precio{
    font-size: 18px;
    width: 30%;
}
.home main .descripciones{
    display:none;
}
.home .descuentos{
    color: green;
    text-transform: lowercase;
    width: 70%;
}

.home main article{
    text-align: left;
    border-top: 1px solid #ebebeb;
    margin: 10px 0;
}
.home main article h3{
    color: var(--gris-oscuro);
    line-height: 50px;
}
.home main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    border-radius: 50%;
    background-color: #FFF;
    position: absolute;
    right: 20px;
    top: -34px;
}
.home main .fa-truck{
    margin: 20px;
    color: green;
}
.home main .visitas, .ofertas{
    margin: -2.5px 0;
    padding: 10px;
    background-color: white;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/* footer */
.home footer{
    width: 90%;
    margin: 15px;
    background-color: white;
}
.home footer section{
    width: 100%;
    font-size: 12px;
    text-align: center;
}
.home footer section p{
    width: 100%;
    margin: 2% 0;
}
.home .icon{
    margin: 0 45%;
    color: var(--celeste);
    font-size: 2em;
    margin-bottom: 10px;
}
.home footer .copyright{
    text-align: left;
    margin: 0 1%;
    padding: 1% 0;
}

/* media queries */

@media (min-width: 361px) {
    /* nav */
    .home .nav-bar nav{
        width: 100%;
        display: flex;
        flex-flow: wrap row;
    }
    .home .nav-bar nav ul{
        height: 100px;
        flex-direction: column;
        width: 50%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .home .burger-menu{
        display: none;
    }
    /* main */
    .home main .descripciones{
        display:block;
    }
    
    .home main article{
        box-shadow: 0px 0px 10px rgb(100,100,100);
    }
}
@media (min-width: 768px){
    /* header */
    .home .logo-buscar a, form ,p{
        width: 30%;
    }
    /* nav */
    .home .nav-bar nav ul{
        height: 70px;
        flex-direction: row;
    }
    /* main */
    .home main{
        width: 96%;
    }
    .home main .descripciones{
        width: 100%;
    }
    .home main article{
        width: 45%;
    }
    .home main section{
        display: flex;
        flex-flow:wrap ;
        justify-content: space-evenly;
    }
    /* footer */
    .home footer{
        width: 96%;
    }
}
@media (min-width: 1024px){
    /* header */
    .home .logo{
        height: 70px;
    }
    /* main */
    .home main article{
        width: 23.3%;
    }
    .home .descuentos{
        width: 60%;
    }
    .home main .precio{
        width: 40%
    }
    /* footer */
    .home footer{
        width: 95%;
    }
}